<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-us"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://java.sun.com/jstl/core">
<f:view contentType="text/html">
    <h:head>
        <title>Users</title>
        <style type="text/css">
            .ui-panelgrid td, .ui-panelgrid tr {
                border-style: none !important
            }

            .ui-fileupload-buttonbar .ui-fileupload-upload {
                display: none;
            }
        </style>
    </h:head>
    <h:body>
        <p:dialog header="User" id="addUserDialogId" widgetVar="addUserDialogVar" modal="true" closable="true"
                  resizable="false">
            <h:form id="addUserDialogForm">
                <p:fieldset toggleable="false">
                    <p:panelGrid columns="2">
                        <label style="display: none">Photo</label>
                        <p:graphicImage id="photo" widgetVar="photoVar"
                                        cache="false" value="#{usersBean.photoStreamedContent}"
                                        width="100" height="100"/>

                        <label style="display: none">Upload photo</label>
                        <p:fileUpload id="fileUpload" widgetVar="fileUploadVar" listener="#{usersBean.handleFileUpload}"
                                      mode="advanced" auto="true" skinSimple="true" update="photo">
                        </p:fileUpload>

                        <label style="display: none">Id</label>
                        <p:inputText id="id" widgetVar="idVar" value="#{usersBean.userDto.id}" style="display: none"/>

                        <p:outputLabel for="fullName" value="Full name"/>
                        <p:inputText id="fullName" value="#{usersBean.userDto.fullName}"
                                     required="true" requiredMessage="Value is required"
                                     validator="noBlankSpaceValidator"/>
                        <p:outputLabel for="email" value="Email"/>
                        <p:inputText id="email" value="#{usersBean.userDto.email}"
                                     required="true" requiredMessage="Value is required"
                                     validator="noBlankSpaceValidator"/>
                        <p:outputLabel for="username" value="User name"/>
                        <p:inputText id="username" value="#{usersBean.userDto.username}"
                                     required="true" requiredMessage="Value is required"
                                     validator="noBlankSpaceValidator"/>
                        <p:outputLabel for="birthday" value="Birthday"/>
                        <p:datePicker id="birthday" value="#{usersBean.userDto.birthday}" required="true"
                                      showTime="true" requiredMessage="Value is required"/>
                        <p:outputLabel for="sex" value="Sex"/>
                        <p:inputText id="sex" value="#{usersBean.userDto.sex}"
                                     required="true" requiredMessage="Value is required" validator="sexValidator"/>
                        <p:commandButton action="#{usersBean.save}" value="Save"
                                         update=":addUserDialogForm, :usersForm:userList">
                        </p:commandButton>
                    </p:panelGrid>
                </p:fieldset>
            </h:form>
        </p:dialog>
        <p:messages id="messages" showDetail="true" showSummary="true" closable="true">
            <p:autoUpdate/>
        </p:messages>
        <h:form>
            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel value="Search:" for="search"/>
                <p:autoComplete id="search"
                                value="#{usersBean.userDoc}"
                                completeMethod="#{usersBean.completeSearch}"
                                var="userDoc"
                                itemLabel="#{userDoc.fullName}"
                                itemValue="#{userDoc}" converter="#{userDocConverter}" update=":usersForm:userList">
                    <p:ajax event="itemSelect" listener="#{usersBean.handleAutoCompleteItemSelect}"
                            update=":usersForm:userList"/>
                </p:autoComplete>
            </h:panelGrid>
            <br/>
            <br/>
        </h:form>
        <h:form>
            <p:commandButton id="addUserShowDialogButton"
                             action="#{usersBean.showAddUserDialog}"
                             value="Add user" update="addUserDialogForm"/>
            <br/>
            <br/>
        </h:form>
        <h:form id="usersForm">
            <p:dataTable id="userList" widgetVar="userListVar" var="user" value="#{usersBean.userDtos}"
                         editable="false">
                <f:facet name="header">
                    Users
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{user.id}"/>
                </p:column>

                <p:column headerText="Full name">
                    <h:outputText value="#{user.fullName}"/>
                </p:column>

                <p:column headerText="Email">
                    <h:outputText value="#{user.email}"/>
                </p:column>

                <p:column headerText="Edit" style="width:50px">
                    <p:commandButton actionListener="#{usersBean.showEditUserDialog(user)}" icon="ui-icon-pencil"
                                     update=":addUserDialogForm, :usersForm:userList">
                    </p:commandButton>
                </p:column>
                <p:column headerText="Delete" style="width:50px">
                    <p:commandButton update="userList" icon="ui-icon-close"
                                     action="#{usersBean.delete(user)}">
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</f:view>
</html>